<header class="header container">
    <a href="/"><img class="home" src="/images/home.png" width="10"/></a>
    <ul class="header__links">
      <li><a class="header__link" href="/about">about</a></li>
      <li><a class="header__link" href="/projects">work</a></li>
      <li><a class="header__link" href="/community">community</a></li>
    </ul>
</header>