<section class="profile">
    
    <div class="profile__card">
        <p class="profile__text profile__text--emphasis">call me ninz.</p>
        <p class="profile__text">A mix of software engineering, data science, and research background. 
            Currently focusing on building machine learning applications and spreading the love of research and programming in the community.</p>
        <p class="profile__text">My research is focused on agriculture and image analysis. In the process of convincing myself to get a PhD.</p>
        <p class="profile__text">I'm also usually on my <i class="profile__link">enduro bike</i> shredding trails, playing some riffs in my <i class="profile__link">guitar</i>, or in my <i class="profile__link">telescope</i> peering into the <i class="profile__link">depths of the universe!</i><p>
        <p class="profile__socials"><a href="https://www.linkedin.com/in/ninzz/" target="_blank">linkedin</a> - <a href="https://github.com/ninnzz" target="_blank">github</a> - <a href="mailto:nreclarin@gmail.com" target="_blank">email</a> - <a href="https://raw.githubusercontent.com/ninnzz/ninnzz/main/resumev2.pdf">CV</a></p>
    </div>
</section>