---
title: "Eleventy Portfolio"
layout: "base.njk"
bgcolor: "#deacb2"
---
<style>
    body {
      background-color: #deacb2;
    }

    .header {
        background-color: #deacb2;
    }
</style>

{% include "main_page.njk" %}
<!-- {% include "tech.njk" %}
{% include "project-grid.njk" %} -->